body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}


// headings & styles

h1 {
  font-size: 2.5em;
  color: #4d4d4d;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.7em;
}

h4{
  font-size: 1.2em;
}


/*Colors

$black: #252525;
$yellow: #e9d20f;
$light-gray: #c2c2c2;
$dark-gray: #4d4d4d;
$white: #fff;
$steel: #708090;
$bottle-green: #1e5426;


*/

.wrapper {
  display:grid;
  width:100vw;
  grid-gap: 1em;
  grid-template:
    "social header header header header" 20vh
    "sidebar hero hero hero hero" 45vh
    "sidebar works works works works" auto
    ". footer footer footer footer" 5em
    /minmax(8em, 1.5fr) minmax(10em, 4fr);

  margin:1em;
}

.icon-container {
  grid-area: social;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  padding:.5em;
}

.icon-img {
  padding: .5em;
}


header {
  grid-area: header;
  background-color: #c2c2c2;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-bottom: 3px solid #1e5426;
  margin:0;
}

.header-content {
  display:block;
  text-align: right;
  margin:1em;
}

.logoimg {
  padding: 1em;
}


.hero {
  grid-area: hero;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  background-color: #708090;
}

.hero > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.works {
  grid-area: works;
  display: grid;
  background-color:	#cadcca;
  grid-gap: 1em;
  grid-template:
  "section-title section-title section-title" 3em
  "tile tile tile" auto / 1fr 1fr 1fr;
  padding: 1em;
}

h2.section-title {
  grid-area: section-title;
}


// Tiles

.tile {
  grid-area:tile;
  display: flex;
  flex-direction: column;
  padding:1em;
}

.tile-img{
 max-width: 100%;
 min-width: 100px;
}


.sidebar {
  grid-area: sidebar;
  background-color: #627a6a;
  padding:1em;
}


/* Footer
*/


footer {
  grid-area: footer;
  display:block;
  background-color: #c2c2c2;
  text-align: center;
  padding-top: 2em;
}
