
/*
Mobile: Google Nexus 5 --> 360px






650 px - sidebar jumps to the side


Tablet: Apple iPad --> 768px



*/

@media screen and (max-width: 360px) {

body{
  padding: 0;
  margin:0;
}

  .wrapper {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    width:100vw;
    margin:0;
    padding:0;
  }

  .logoimg {
    width: 5vmin;
    height: 5vmin;
    padding:.5em;
  }

  .logo-graphic {
    width: 5vmin;
    height: 5vmin;
  }

  header {
    order:0;
    position: relative;
    width:100%
    background-color: #c2c2c2;
    display:flex;
    flex-direction:column;
    border-bottom: 3px solid #1e5426;
    margin:0;
    font-size: 10px;
  }

  h1 {font-size: 1.2em;}
  h2{font-size: .6em;}
  h3{font-size: .5em;}
  h4{font-size: .3em;}

  .header-content {
    display:block;
    text-align: left;
    margin:.5em;
  }

  .hero {
    order:1;
    background-image: url(http://placekitten.com/800/500);
  }

  .icon-container {
    order:2;
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    padding:.5em;
  }

  .works {
    order: 3;
    display: grid;
    background-color:	#cadcca;
    grid-gap: 1em;
    grid-template:
    "section-title section-title section-title" 3em
    "tile tile tile" auto / 1fr 1fr 1fr;
    padding: 1em;
  }

  .sidebar {
    order:4;
    background-color: #627a6a;
    padding:1em;
  }

  footer {
    order:5;
    display:block;
    background-color: #c2c2c2;
    text-align: center;
    padding-top: 2em;
  }
/*

.wrapper {
  display:grid;
  grid-gap: .5em;
  grid-template:
    "header header header header" 20vh
    "hero hero hero hero" 45vh
    "social social social social"
    "works works works works" auto
    "sidebar sidebar sidebar sidebar"
    "footer footer footer footer" 5em
    /minmax(8em, 1.5fr) minmax(20em, 4fr);

  margin:1em;
}

*/





  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom;
  }


@media screen and (min-width: 611px) {
  .hero {
    order: 0;
    width: 60%;
  }
  .weather {
    order: 1;
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 50%;
  }
  .top-news {
    order: 1;
    width: 50%;
  }
  .scores {
    order: 2;
    width: 60%;
  }
  .weather {
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
